In [1]:
import pandas as pd

In [14]:
raw = pd.read_csv("life-expectancy.csv")
raw.columns

Index(['Entity', 'Code', 'Year',
       'Period life expectancy at birth - Sex: all - Age: 0'],
      dtype='object')

In [18]:
continent = ['Americas', 'Africa', 'Asia', 'Australia', 'Europe', 'Latin America and the Caribbean', 'Northern America', 'Oceania']
income_groups = ['High-income countries', 'Upper-middle-income countries', 'Middle-income countries', 'Lower-middle-income countries', 'Low-income countries', 'No income group available']
development = ['More developed regions', 'Small Island Developing States (SIDS)', 'Less developed regions', 'Less developed regions, excluding China', 'Less developed regions, excluding least developed countries', 'Least developed countries', 'Land-locked Developing Countries (LLDC)']

In [32]:
continents = raw[raw['Entity'].isin(continent) == True]
continents

        Entity Code  Year  Period life expectancy at birth - Sex: all - Age: 0
72      Africa  NaN  1770                                            26.4000
73      Africa  NaN  1925                                            26.4000
74      Africa  NaN  1950                                            37.6235
75      Africa  NaN  1951                                            37.9309
76      Africa  NaN  1952                                            38.4430
...        ...  ...   ...                                                ...
14235  Oceania  NaN  2017                                            78.5432
14236  Oceania  NaN  2018                                            78.8271
14237  Oceania  NaN  2019                                            78.7485
14238  Oceania  NaN  2020                                            79.4958
14239  Oceania  NaN  2021                                            79.4444

[630 rows x 4 columns]

In [33]:
income = raw[raw['Entity'].isin(income_groups) == True]
income

,Entity,Code,Year,Period life expectancy at birth - Sex: all - Age: 0
7731,High-income countries,NaN,1950,61.5421
7732,High-income countries,NaN,1951,62.5624
7733,High-income countries,NaN,1952,64.3204
7734,High-income countries,NaN,1953,64.9871
7735,High-income countries,NaN,1954,65.9261
...,...,...,...,...
19941,Upper-middle-income countries,NaN,2017,75.9064
19942,Upper-middle-income countries,NaN,2018,76.2589
19943,Upper-middle-income countries,NaN,2019,76.4784
19944,Upper-middle-income countries,NaN,2020,75.7449
19945,Upper-middle-income countries,NaN,2021,75.2817

In [34]:
develop = raw[raw['Entity'].isin(development) == True]
develop

,Entity,Code,Year,Period life expectancy at birth - Sex: all - Age: 0
9707,Land-locked Developing Countries (LLDC),NaN,1950,39.4836
9708,Land-locked Developing Countries (LLDC),NaN,1951,39.7985
9709,Land-locked Developing Countries (LLDC),NaN,1952,40.2089
9710,Land-locked Developing Countries (LLDC),NaN,1953,40.6129
9711,Land-locked Developing Countries (LLDC),NaN,1954,40.9987
...,...,...,...,...
17053,Small Island Developing States (SIDS),NaN,2017,72.1283
17054,Small Island Developing States (SIDS),NaN,2018,72.2182
17055,Small Island Developing States (SIDS),NaN,2019,72.3776
17056,Small Island Developing States (SIDS),NaN,2020,72.1998
17057,Small Island Developing States (SIDS),NaN,2021,70.8139

In [36]:
countries = raw[raw['Entity'].isin(development) == False]
countries = countries[countries['Entity'].isin(income_groups) == False]
countries = countries[countries['Entity'].isin(continent) == False]
countries['Entity'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'England and Wales',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali',
       'Malta', 'Marshall Islands', 'Martinique', 'Mauritania',
       'Mauritius', 'Mayotte', 'Mexico', 'Micronesia (country)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'No income group available',
       'North Korea', 'North Macedonia', 'Northern Ireland',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'USSR', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'Western Sahara', 'World', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)